.bottom{
  position: relative;
  &:before{
    content:'';
    position: absolute;
    z-index: -1;
    top:170px;
    right:-70px;
    background: #0F264C;
    border-radius:0 200px 0 0;
    width: 100vw;
    height: 600px
  }
  .bottom__auto{
    margin-left: -25%;
  }
  .mask{
    position: absolute;
    top:170px;
    right:530px;
    z-index: -1;
  }
  .bottom-block{
    padding-right: 80px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    .question{
      margin-top: 60px;
      width: 330px;
    }
    .login{
      transform: translateY(-150px);
      width: 400px;
      height: 340px;
      display: flex;
      flex-direction: column;
      padding: 50px 75px;
      input{
        margin: 20px 0 35px;
      }
      .get{
        width: 220px;
      }
    }
  }
  .bottom-nav{
    nav{
      width: 40%;
    }
  }
}
@media screen and (max-width:1170px){
  .bottom{
    &:before{
      height: 90%;
      top:120px;
      width: 100vw;
      right:-5vw;
      border-radius:0;
    }
    .bottom__auto{
      height: 150px;
      margin-left: -40%;
    }
    .mask{
      height: 300px;
      right:-50%;
      top: 100px;;
    }
    .bottom-block{
      flex-direction: column;
      padding-right: 0;
      .question{
        width: auto;
      }
      .login{
        transform: translateY(0px);
        margin-top: 60px;
        width: 84%;
        height: auto;
        padding: 12% 8%;
        input{
          margin: 15px 0 25px;
        }
        .get{
          margin-top: 10px;
          width: 150px;
        }
      }
    }
    .bottom-nav{
      padding-top: 100px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      nav{
        margin: 40px 0;
        width: 100%;
      }
    }
  }
}