.carousel-initialized {
  width: 1500px;
  position: inherit;
}

.carousel-next::before {
  width: 30px;
  background-image: url(../images/redarrow.png) !important;
}

.carousel-prev::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 30px;
  background-image: url(../images/redarrow.png) !important;
}

.carousel-arrow {
  width: 30px;
}

.carousel-next, .carousel-prev {
  position: absolute;
  width: 30px;
  height: 20px;
  top: 10px;
  left: auto;
  right: 0;
}

.carousel-prev {
  right: 60px;
}

.carousel-track {
  height: 500px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.carousel-track .carousel-item {
  margin-right: 20px;
  width: 460px !important;
  height: 460px !important;
}

.carousel-track .carousel-item .client__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  -webkit-box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
          box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
  border-radius: 10px;
  height: 360px;
  padding: 60px 50px 40px;
}

.carousel-track .carousel-item .client__item .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-track .carousel-item .client__item .person img {
  margin-right: 20px;
}

.carousel-track .carousel-item .client__item_first {
  width: 300px;
  margin-right: 80px;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.carousel-track .carousel-item[data-carouselkey="0"] {
  width: 300px !important;
}

@media screen and (max-width: 1170px) {
  .client__item_first {
    width: 200px;
    margin-bottom: 20px;
  }
  .carousel-initialized {
    width: 100vw;
    -webkit-transform: translateX(-5vw);
        -ms-transform: translateX(-5vw);
            transform: translateX(-5vw);
  }
  .carousel-track {
    height: 400px !important;
    width: 100%;
  }
  .carousel-track .carousel-item {
    width: 95% !important;
  }
  .carousel-track .carousel-item .client__item {
    padding: 45px 10% 40px;
    margin: 15px;
    width: 75%;
    height: 240px;
  }
  .carousel-track .carousel-item[data-carouselkey="0"] {
    width: 95% !important;
  }
}
