@import '../Variables.scss';
.clients-block{
    display: flex;
    width: 1780px;
    .client__item{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .person{
        display: flex;
        align-items: center;
        img{
          margin-right: 20px;
        }
      }
    }
    .client__item:first-child{
      width: 300px;
      margin-right: 80px;
    }
    .client__item:not(:first-child){
      margin-right: 20px;
      width: 420px;
      height: 360px;
    }
  }
@media screen and (max-width:1170px){
  .clients-block{
    width: 800px;
    .client__item:first-child{
      position: absolute;
      top:60px;
      width: 200px;
    }
    .client__item:not(:first-child){
      margin-right: 15px;
      width: 250px;
      height: 240px;
    }
  }
}