.login {
  background: #fff;
  -webkit-box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
          box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
  border-radius: 10px;
}

.login input {
  border: 1px solid rgba(238, 77, 71, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 20px 0 20px 40px;
}

.login input:focus {
  -webkit-box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.2);
          box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.2);
  outline: none !important;
  border: 2px solid #EE4D47 !important;
}

.login {
  -webkit-transform: translateY(-150px);
      -ms-transform: translateY(-150px);
          transform: translateY(-150px);
  width: 400px;
  height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 75px;
}

.login input {
  margin: 20px 0 35px;
}

.login .get {
  width: 220px;
}

@media screen and (max-width: 1170px) {
  .login input {
    padding: 15px 0 15px 30px;
  }
  .login {
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
    margin-top: 60px;
    width: 84%;
    height: auto;
    padding: 12% 8%;
  }
  .login input {
    margin: 15px 0 25px;
  }
  .login .get {
    margin-top: 10px;
    width: 150px;
  }
}
