h2 {
  margin-bottom: 45px;
}

.nav__item a {
  padding: 20px 25px;
  border: none;
  border-radius: 5px;
}

.nav__item a img {
  margin-left: 24px;
}

.nav__item a:focus {
  outline: none !important;
}

.nav__item a:hover,
header .nav__item:last-child a {
  background: #EE4D47;
}

.bottom-block .question {
  background: none;
}

@media screen and (max-width: 1170px) {
  h2 {
    margin-bottom: 25px;
  }
  .nav__item a {
    padding: 13px 15px;
    border-radius: 3px;
  }
  .nav__item a img {
    height: 8px;
    margin-left: 16px;
  }
  header .nav__item:last-child a {
    background: transparent;
  }
}
